[Header]
FileFormatVersion,2

[Data]
Sample_ID,index,index2
REPLACE_WITH_BIN1_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
REPLACE_WITH_BIN2_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
REPLACE_WITH_BIN3_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
REPLACE_WITH_BIN4_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
REPLACE_WITH_BIN5_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
REPLACE_WITH_BIN6_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
REPLACE_WITH_UNSORTED_FASTQ_PREFIX,REPLACE_I7,REPLACE_I5
